@keyframes anim-circle {
    from {
        left: 40%;
    }
    /* 20% {
        left: 0%;
    }
    50% {
        left: 10%;
    }
    70% {
        left: 0%;
    }
    90% {
        left: 2%;
    } */
    to {
        left: 0%;
    }
}