@media (max-width: 1400px) {
    .sidepanel {
        display: none;
    }
}
/* ------------------------- 1200 ------------------------- */
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .about {
        &__grid-container {
            grid-template-columns: 400px 500px;
        }
        &__dev {
            grid-template-columns: repeat(2, 230px);
            gap: 10px 10px;
        }
    }

    .resume {
        &__wrapper {
            gap: 30px;
        }
    }

    /* .skills {
        &__wrapper {
            grid-template: repeat(3, minmax(270px, auto)) / repeat(3, 1fr);
        }
    } */

    .skills {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
        }
    }
    
    .progress {
        grid-template: repeat(2,minmax(70px,auto))/repeat(2, 1fr);
        &__wrapper {
            align-content: space-around;
        }
    }

    .work {
        &__wrapper {
            grid-template: repeat(3, 280px) / repeat(3, 280px);
            justify-content: center;
            :nth-child(4) {
                grid-column: 3 / 4;
                grid-row: 1 / 3;
            }
            :nth-child(6) {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }
            img {
                filter: blur(0px);
                filter: brightness(1);
                transition: all .6s;
                &:hover {
                    transition: all .6s;
                    transform: scale(1);
                    filter: brightness(1);
                    filter: blur(0);
                }
            }
        }
    }

    .contacts {
        &__column {
            grid-template: minmax(600px, auto) / 400px 410px;
        }
        &__forms {
            grid-template: 45px 190px 45px / repeat(2, auto);
            column-gap: 10px;
        }
    }

    .pageup {
        bottom: 20px;
        right: 20px;
        opacity: 0.6;
    }
}

/* ------------------------- 992 ------------------------- */
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .about {
        padding-top: 80px;
        &__grid-container {
            grid-template-columns: 650px;
            gap: 20px 0;
        }
        &__photo {
            margin: 0 auto;
        }
    }

    .resume {
        padding-top: 80px;
        &__wrapper {
            grid-template: 1fr / 1fr;
        }
        &__column {
            padding-top: 20px;
        }
    }

    .skills {
        padding-top: 80px;
    }

    .work {
        &__wrapper {
            grid-template: repeat(3, 280px) / repeat(2, 280px);
            :nth-child(4) {
                grid-column: auto;
                grid-row: auto;
                img{
                    object-fit: cover;
                    width: 280px;
                    height: 280px;
                    
                }
            }
            :nth-child(6) {
                grid-column: auto;
                grid-row: auto;
                img {
                    object-fit: cover;
                    width: 280px;
                    height: 280px;
                    
                }
            }
        }   
    }

    .price {
        &__list {
            grid-template: minmax(165px, auto) / repeat(1, 370px);
            row-gap: 15px;
        }
    }

    .contacts {
        padding: 80px 0 30px 0;
        &__column {
            grid-template: minmax(600px, auto) / 450px;
        }
        &__photo {
            display: none;
        }
    }

}

/* ------------------------- 768 ------------------------- */
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .promo {
        &__title {
            width: 245px;
        }
        &__subtitle {
            margin-top: 10px;
            font-size: 27px;
            line-height: 39px;
            width: 300px;
        }
        .hamburger {
            top: 20px;
            right: 20px;
        }
    }
    
    .menu {
        &__close {
            top: 20px;
            right: 20px;
        }
    }

    .about {
        &__grid-container {
            grid-template-columns: 100%;
        }
    }

    /* .skills {
        &__wrapper {
            grid-template: repeat(3, minmax(270px, auto)) / repeat(2, 1fr);
        }
    } */

    .skills {
        &__wrapper {
            justify-content: center;
        }
    }

    .progress {
        &__scale {
            width: 245px;
        }
    }
}

/* ------------------------- 576 ------------------------- */
@media (max-width: 576px) {
    .container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px;
    }

    .promo {
        background: url('../img/Background.jpg') no-repeat 58%/cover;
        &__title {
            width: 245px;
        }
        &__subtitle {
            margin-top: 10px;
            font-size: 27px;
            line-height: 39px;
            width: 300px;
        }
        &__btns {
            margin-left: 10px;
        }
    }

    .menu {
        &__block {
            width: 250px;
        }
    }

    .about {
        &__grid-container {
            :nth-child(1) {
                grid-row: inherit;
            }
        }
        &__dev {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, minmax(116px, auto));
            gap: 10px 10px;
        }
        &__photo {
            width: 95%;
        }
        &__subtitle {
            font-size: 24px;
            line-height: 36px;
        }
        &__dev {
            gap: 20px 10px;
        }
    }

    .resume {
        &__subtitle {
            margin-top: 20px;
            font-size: 24px;
            line-height: 36px;
        }
        &__footer {
            width: 240px;
        }
    }

    /* .skills {
        &__wrapper {
            grid-template: repeat(3, minmax(270px, auto)) / 1fr;
        }
        &__subtitle {
            font-size: 24px;
            line-height: 36px;
        }
    } */

    .progress {
        grid-template: repeat(2,minmax(70px,auto)) / repeat(1,1fr);
        &__scale {
            width: 100%;
        }
    }

    .work {
        &__wrapper {
            grid-template: repeat(3, 280px) / repeat(1, 280px);
        }
    }

    .price {
        &__list {
            padding-top: 30px;
            grid-template: minmax(165px, auto) / repeat(1, 300px);
            &-wrapper {
                grid-template: repeat(3,minmax(44px, auto))/300px;
            }
            &-item {
                grid-template: minmax(21px, auto) minmax(18px, auto) / 157px 122px;
            }
            &-title {
                left: 22px;
            }
            &-descr {
                margin-top: 5px;
                padding-left: 22px;
                width: 275px;
            }
        }
    }

    .contacts {
        &__column {
            padding: 0;
            grid-template: minmax(600px, auto) / auto;
        }
        &__forms {
            grid-template: 45px 45px 100px 45px / 100%;
            button {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__subtitle {
            font-size: 24px;
            line-height: 39px;
        }
        &__desc {
            width: 300px;
        }
        &__textarea {
            grid-column: auto;
        }
        
    }
}