@mixin before-circle($top, $left) {
    &::before {
        content: '';
        position: absolute;
        top: $top;
        left: $left;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color: $main_color;
        z-index: -1;
        //animation
        /* animation-name: anim-circle;
        animation-duration: 1s; */

    }
}